@media (min-width: 375px) {
	.icon {
		width: 18px;
		height: 18px;
	}
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 60px;
		color: inherit;
		cursor: pointer;
		padding-left: 14px;
		padding-right: 14px;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.container:hover {
		color: #fff;
	}
	/* .container:hover .icon {
		--color2: #fff;
		--color1: #fff;
	} */

	.wrapper {
		display: flex;
		align-items: center;
		gap: 4px;
	}
	.btnWrapper {
		display: flex;
		gap: 8px;
		align-items: center;
		justify-content: center;
	}
	.iconBtn {
		width: 16px;
		height: 16px;
		fill: none;
		stroke: #fff;
	}
	.btn {
		display: none;
	}
	.activeBtn {
		display: block;
		padding: 0;
		background-color: inherit;
		border: none;
		stroke: rgb(255, 255, 255, 0.5);
	}
	.activeBtn:hover {
		display: block;
		padding: 0;
		background-color: inherit;
		border: none;
		stroke: #bedbb0;
	}
}
@media (min-width: 768px) {
	.container {
		width: 225px;
		padding-left: 24px;
		padding-right: 24px;
	}
	.wrapper {
		gap: 8px;
	}
}
