.icon {
  width: 18px;
  height: 18px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  color: inherit;
  /* width: 260px; */
  height: 60px;
  cursor: pointer;
  padding-left: 24px;
  padding-right: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container:hover {
  color: #fff;
}
.container:hover .icon {
  --color2: #fff;
  --color1: #fff;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.btnWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.iconBtn {
  width: 16px;
  height: 16px;
}
.btn {
  padding: 0;
  background-color: inherit;
  border: none;
  --color1: rgb(255, 255, 255, 0.5);
}
