.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#fff, #bedbb0);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
