@import-normalize;

body {
	display: flex;
	flex-flow: column nowrap;
	height: 100vh;
	background-color: aliceblue;
	margin: 0;
	padding: 0;

	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 1.5;

	&.show-modal {
		overflow: hidden;
	}
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

.list {
	list-style: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.link {
	text-decoration: none;
	color: inherit;
}

img {
	padding: 0;
	margin: 0;
	display: block;
	max-width: 100%;
}

picture {
	font-size: 0px;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
