.container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  overflow-x: auto;
  gap: 15px;
  padding: 5px 30px;
}

.columns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
  overflow-x: auto;
  width: 100%;
  padding-bottom: 10px;
}

.columns::-webkit-scrollbar {
  height: 12px;
}

.columns::-webkit-scrollbar-track {
  background: #161616;
  border-radius: 12px;
}

.columns::-webkit-scrollbar-thumb {
  background: rgb(46, 46, 46);
  border-radius: 12px;
}
