.filterBtn {
  display: flex;
  margin-right: 24px;
  margin-left: auto;
  color: rgb(255, 255, 255, 0.8);
  background-color: inherit;
  border: none;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.textContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 248px;
  width: 486px;
  text-align: center;
  font-size: 14px;
  color: rgb(255, 255, 255, 0.5);
  font-weight: 400;
}
.markText {
  color: #bedbb0;
  margin-left: 4px;
  margin-right: 4px;
}
.wrapper {
  flex-grow: 1;
  background-color: #1f1f1f;
}
.filterIcon {
  width: 16px;
  height: 16px;
}
