.container {
  position: fixed;
  backdrop-filter: blur(1px);
  background-color: transparent;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9999999;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modalWindow {
  position: fixed;
  margin: auto;
  left: -200%;
  top: -200%;
  transform: translate(-50%, -50%) scale(0.1);
  transition: opacity 300ms ease-in-out, top 100ms ease-in-out,
    transform 1000ms ease-in-out;
}

.modalWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 300ms ease-in-out, top 100ms ease-in-out,
    transform 1000ms ease-in-out;
}

.modalWindowContent {
  /* position: absolute; */
  border: 1px solid rgba(190, 219, 176, 0.5);
  border-radius: 8px;
  width: 335px;
  min-height: 355px;
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.05);
  background: #151515;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.closeBtn {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  /* background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.title {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #fff;
  margin-top: 24px;
  padding-left: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  border: 1px solid #bedbb0;
  border-radius: 8px;
  width: 287px;
  height: 49px;
  opacity: 0.4;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
  padding-left: 18px;
  box-sizing: border-box;
}

.textarea {
  resize: none;
  box-sizing: border-box;
  border: 1px solid #bedbb0;
  border-radius: 8px;
  width: 287px;
  height: 120px;
  opacity: 0.4;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
  padding-left: 18px;
  padding-top: 14px;
  background-color: transparent;
}

.sendBtn {
  border-radius: 8px;
  width: 287px;
  height: 49px;
  background: #bedbb0;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #161616;
}

@media (min-width: 768px) {
  .modalWindowContent {
    width: 400px;
  }

  .input {
    width: 352px;
  }

  .textarea {
    width: 352px;
  }

  .sendBtn {
    width: 352px;
  }
}
