.container {
  position: fixed;
  backdrop-filter: blur(1px);
  background-color: transparent;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modalWindow {
  position: fixed;
  margin: auto;
  left: -200%;
  top: -200%;
  transform: translate(-50%, -50%) scale(0.1);
  transition: opacity 300ms ease-in-out, top 100ms ease-in-out,
    transform 1000ms ease-in-out;
}

.modalWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 300ms ease-in-out, top 100ms ease-in-out,
    transform 1000ms ease-in-out;
}

.modalWindowContent {
  /* position: absolute; */
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  width: 335px;
  min-height: 433px;
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.05);
  background: var(--third-background-color);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.closeBtn {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.iconClose {
  fill: none;
  stroke: var(--main-text-color);
  &:hover {
    stroke: var(--accent-color);
  }
}

.title {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
  margin-top: 24px;
  padding-left: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.input {
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  width: 287px;
  height: 49px;
  opacity: 0.4;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
  padding-left: 18px;
  box-sizing: border-box;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 287px;
}

.iconsTitle {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
}

.iconsContainer {
  display: flex;
  gap: 8px;
}

.iconLabel {
  fill: none;
  stroke: var(--main-text-color);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.iconRadio {
  display: none;
}

.iconImage {
  display: inline-block;
  position: relative;
  transition: all 0.3s;
  opacity: 0.5;
}

.iconRadio:checked + .iconImage {
  stroke: #fff;
  opacity: 1;
}

.iconRadio:hover + .iconImage {
  stroke: #fff;
  opacity: 1;
}

.createBtn {
  border-radius: 8px;
  width: 287px;
  height: 49px;
  background: var(--accent-color);
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.createBtn:hover {
  background: #9dc888;
}

.wrapper {
  width: 28px;
  height: 28px;
  background-color: var(--main-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.iconPlus {
  fill: none;
  stroke: var(--main-text-color);
}

.createText {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--main-background-color);
}

@media (min-width: 768px) {
  .modalWindowContent {
    width: 350px;
  }

  .input {
    width: 302px;
  }

  .formContainer {
    width: 302px;
  }

  .iconsTitle {
    font-size: 14px;
  }

  .createBtn {
    width: 302px;
  }
}
