.container {
  position: fixed;
  backdrop-filter: blur(1px);
  background-color: transparent;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 1;
  transition: opacity var(--transition), visibility var(--transition);
  background-color: rgba(0, 0, 0, 0.75);
}

.modalWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 300ms ease-in-out, top 100ms ease-in-out,
    transform 1000ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}

.modalWindowContent {
  box-sizing: border-box;
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  width: 335px;
  min-height: 433px;
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.05);
  background: var(--main-background-color);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  justify-content: start;
}

.closeBtn {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
}

.iconClose {
  fill: none;
  stroke: var(--main-text-color);
  &:hover {
    stroke: var(--accent-color);
  }
}

.title {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
  margin-top: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.input {
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  width: 100%;
  height: 49px;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
  padding-left: 18px;
  box-sizing: border-box;
  margin-bottom: 24px;
}

.input:focus {
  outline: 1px solid var(--accent-color);
  box-shadow: 0 4px 8px rgba(22, 22, 22, 0.08);
  color: var(--main-text-color);
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 287px;
}

.iconsTitle {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
  margin-bottom: 14px;
}

.iconsContainer {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.iconLabel {
  position: relative;
  fill: none;
  stroke: var(--main-text-color);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.iconRadio {
  display: none;
}

.iconImage {
  display: inline-block;
  position: relative;
  transition: all 0.3s;
  opacity: 0.5;
  cursor: pointer;
}

.iconRadio:checked + .iconImage {
  stroke: var(--main-text-color);
  opacity: 1;
}

.iconRadio:hover + .iconImage {
  stroke: var(--main-text-color);
  opacity: 1;
}

.bgList {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  width: 252px;
  justify-content: start;
  margin-bottom: 40px;
}

.bgImage {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
  width: 28px;
  height: 28px;
  border-radius: 8px;
}

.iconRadio:checked + .bgImage {
  border-radius: 8px;
  border: 1px solid var(--main-text-color);
}

.iconRadio:hover + .bgImage {
  border-radius: 8px;
  border: 1px solid var(--main-text-color);
}

.createBtn {
  border-radius: 8px;
  width: 100%;
  height: 49px;
  background: var(--accent-color);
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
}

.createBtn:hover {
  background: var(--accent-color-hover);
}

.wrapper {
  width: 28px;
  height: 28px;
  background-color: var(--main-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.iconPlus {
  fill: none;
  stroke: var(--main-text-color);
}

.createText {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--main-background-color);
}

@media (min-width: 768px) {
  .modalWindowContent {
    width: 350px;
  }

  .formContainer {
    width: 302px;
  }

  .iconsTitle {
    font-size: 14px;
  }

  .createBtn {
    width: 302px;
  }
}
