@media (min-width: 320px) {
  .list {
    flex: 1;
    color: var(--second-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav {
    min-height: 120px;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
  }
  .boardItem {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .active {
    background-color: var(--active-background-color);
    color: var(--main-text-color);
    stroke: var(--main-text-color);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
  }
  .active::before {
    content: '';
    display: block;
    width: 4px;
    height: 60px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: 0;
    left: 221px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .link {
    color: rgb(255, 255, 255, 0.5);
    text-decoration: none;
    width: 100%;
    justify-content: center;
  }
  .isActive {
    color: var(--main-text-color);
  }
}
@media (min-width: 768px) {
  .active::before {
    content: '';
    display: block;
    width: 4px;
    height: 60px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: 0;
    left: 256px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}
