.card {
  background-color: var(--cards-color);
  color: var(--border-title);
  height: 126px;
  padding: 14px 20px 14px 24px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  border-radius: 8px 0 0 8px;
}

.header {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
  margin-bottom: 5px;
}

.description {
  overflow: hidden;
  height: 40px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: var(--trash);
}

.separator {
  height: 1px;
  color: var(--trash);
  margin: 16px 0 11px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.containerPriorityDeadline {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.priority,
.deadline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.priorityColor {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.priorityLabel,
.deadlineLabel {
  font-weight: 400;
  font-size: 8px;
  letter-spacing: -0.02em;
  color: var(--trash);
  margin-bottom: 4px;
}

.priorityContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.priorityText {
  font-weight: 400;
  font-size: 10px;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
}

.deadlineValue {
  font-weight: 400;
  font-size: 10px;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
}

.actions {
  display: flex;
  gap: 8px;
}

.actionButton {
  display: flex;
  align-items: flex-end;
  background: none;
  border: none;
  color: var(--secondary-color);
  cursor: pointer;
  padding: 0;
}

.actionButton:hover {
  color: var(--primary-color);
}

.icon {
  stroke: var(--trash);
  transition: stroke 0.3s ease;
  fill: none;
}

.actionButton:hover .icon {
  stroke: var(--accent-color);
}

.actionButton:active .icon {
  stroke: var(--accent-color);
}
.low::before,
.priorityColor.low {
  background-color: var(--board-section-low);
}

.medium::before,
.priorityColor.medium {
  background-color: var(--board-section-medium);
}

.high::before,
.priorityColor.high {
  background-color: var(--board-section-high);
}

.without::before,
.priorityColor.without {
  background-color: var(--trash);
}
