.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  width: 335px;
  height: 56px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--accent-color);
  flex-shrink: 0;
  &:hover {
    background-color: var(--accent-color-hover);
  }
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: var(--edit-plus);
  border-radius: 5px;
  margin-right: 8px;
  transition: background-color 0.3s ease;
  flex-shrink: 0;
}

.addColumn {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--main-background-color);
}

/* .iconContainer:hover {
  stroke: red;
} */

.icon {
  stroke: var(--plus-icon);
}
