.team-modal {
  color: var(--team-label);
  text-align: center;
  font-size: larger;
  font-weight: 600;
  cursor: pointer;
  font-family: Lobster;
  cursor: pointer;

  text-decoration: underline;

  &:hover {
    color: var(--accent-color-hover);
  }
}

.modal-wrapper {
  text-align: center;
  padding-bottom: 20px;
}
