.team-modal {
  color: var(--accent-color);
  text-align: center;
  font-size: larger;
  font-weight: 600;
  cursor: pointer;
  font-family: Lobster;
  cursor: pointer;

  text-decoration: underline;

  &:hover {
    color: greenyellow;
  }
}

.modal-wrapper {
  text-align: center;
  padding-bottom: 20px;
}
