.loginForm {
  width: 335px;
  height: 300px;
  display: flex;
  padding: 24px;
  margin-top: 256px;
  background-color: #151515;
  flex-direction: column;
  border-radius: 8px;
}

.loginInput {
  border-radius: 8px;
  border: 1px solid #bedbb0;
  opacity: 0.4;
  background: #1f1f1f;
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
  color: white;
  font-weight: 600;

  display: inline-flex;
  padding: 14px 160px 14px 18px;
  align-items: center;
}
