.card {
  background-color: var(--cards-color);
  height: 56px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 16px;
  font-weight: normal;
}

.header {
  padding-left: 30px;
  flex-grow: 1;
}

.title {
  color: var(--input-text);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
}

.titleInput {
  background-color: var(--primary-color);
  font-size: 1.2em;
  padding: 5px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.editing {
  background: red;
  color: var(--text-color);
}

.actions {
  display: flex;
  margin-right: 20px;
}

.actionButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.actionButton:hover {
  color: var(--accent-color);
}

.icon {
  fill: none;
  stroke: var(--trash);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    stroke: var(--accent-color);
  }
}
