body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

button {
  cursor: pointer;
  font-family: inherit;
}
.open-btn {
  margin: 10px 20 px;
  padding: 20px;
  font-size: 2rem;
}
p {
  margin: 20 px;
  color: #000;
}
