body {
<<<<<<< HEAD
	font-family: var(--font-family);
	font-size: var(--font-size-base);
	color: var(--text-color);
	margin: 0;
	padding: 0;
	transition: background-color 0.3s, color 0.3s;
=======
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--text-color);
  background-color: var(--secondary-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
  min-height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.ReactModal__Overlay {
  backdrop-filter: blur(1px);
  background-color: transparent;
>>>>>>> 493a9a416e4b354074b0dbc78adb9ed9fdfc32d3
}
