body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

button {
  cursor: pointer;
  font-family: inherit;
}
