.header {
  display: flex;
  max-height: 68px;
  top: 0;
  left: 260px;
  right: 0;
  height: 68px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  background-color: #161616;
  color: #ffffff;
  gap: 14px;
  z-index: 1000;
}

.userInfo {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.avatar {
  border-radius: 8px;
}

.modal {
  position: relative;
  max-width: 400px;
  min-height: 440px;
  border: 1px solid rgba(190, 219, 176, 0.5);
  border-radius: 8px;
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.05);
  background: #151515;
  overflow-y: auto;
  padding: 24px;
  z-index: 1100;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1050; /* Трохи менше, ніж у модального вікна */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto; /* Дозволити прокручування overlay */
}

.name {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #fff;
}

.boxForm {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  border-radius: 8px;
  border: 1px solid #bedbb0;
  width: 352px;
  height: 49px;
  background-color: transparent;
  color: #fff;
}

.input:hover,
.input:focus,
.input:active {
  border: 1px solid #bedbb0;
}

.button {
  border: 1px solid #bedbb0;
  border-radius: 8px;
  width: 352px;
  height: 49px;
  background: #bedbb0;
  padding: 0px;
}
