.header {
  max-height: 68px;
  height: 68px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #161616;
  color: #ffffff;
  gap: 14px;
  z-index: 1000;
}

.boxForm {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
