.header {
  max-height: 68px;
  height: 68px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #161616;
  color: #ffffff;
  gap: 14px;
  z-index: 1000;
}

.userInfo {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  padding: 18px 24px;
  padding-left: 0px;
}

.avatarModal {
  border-radius: 8px;
  margin: 0 auto;
}

.avatar {
  border-radius: 8px;
}

.avatarForm {
  padding: 24px;
}

.modal {
  position: relative;
  max-width: 400px;
  min-height: 440px;
  border: 1px solid rgba(190, 219, 176, 0.5);
  border-radius: 8px;
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.05);
  background: #151515;
  overflow-y: auto;
  z-index: 1100;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1050;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.name {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #fff;
}

.nameModel:hover {
  color: var(--accent-color);
}

.boxForm {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  border-radius: 8px;
  border: 1px solid var(--accent-color);
  min-width: 352px;
  height: 49px;
  background-color: transparent;
  color: #fff;
  opacity: 0.5;
  transition: border-color 0.3s ease, opacity 0.3s ease;
  display: flex;
  align-items: center;
}

.input:hover,
.input:focus,
.input:active {
  border-color: var(--accent-color);
  opacity: 1;
  outline: none;
  box-shadow: none;
}

.field {
  background-color: transparent;
  border: none;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 0 18px;
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 49px;
  outline: none;
  box-shadow: none;
}

.buttonModal {
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  height: 49px;
  background: var(--accent-color);
  padding: 0px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--main-background-color);
}

.buttonModal:hover {
  background-color: #9dc888;
}

.closeButton {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  height: 18px;
  width: 18px;
  padding: 0px;
  border: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.closeButton:hover {
  color: var(--accent-color);
}

.wrapper {
  padding: 24px;
}

.iconModal {
  stroke: #fff;
}
