.header {
  position: static;
  max-width: 1180px;
  max-height: 68px;
  top: 0;
  left: 260px;
  right: 0;
  height: 68px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  background-color: #161616;
  color: #ffffff;
  gap: 14px;
  z-index: 1000;
}

.userInfo {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.avatar {
  border-radius: 8px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.05);
  background: #151515;
  border: 1px solid rgba(190, 219, 176, 0.5);
  border-radius: 8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
.name {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
}

.modalTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.avatarContainer {
  position: relative;
  margin-bottom: 20px;
}

.modalAvatar {
  width: 68px;
  height: 68px;
  border-radius: 8px;
  fill: #1f1f1f;
}

.uploadButton {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background: #bedbb0;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.input {
  border: 1px solid #bedbb0;
  border-radius: 8px;
  width: 352px;
  height: 49px;
  padding: 10px;
  background: #1f1f1f;
  color: white;
}

.saveButton {
  border-radius: 8px;
  width: 352px;
  height: 49px;
  background: #bedbb0;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
