@media only screen and (min-width: 320px) {
  .userInfo {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    padding: 14px 20px;
    padding-left: 0px;
  }

  .avatar {
    border-radius: 8px;
    width: 32px;
    height: 32px;
  }

  .nameModel {
    color: var(--main-text-color);
    flex: 1;
    min-width: 0;
    font-size: 14px;
    font-weight: 600;
  }

  .nameModel:hover {
    color: var(--accent-color);
  }
}

@media only screen and (min-width: 768px) {
  .userInfo {
    padding: 18px 32px;
    padding-left: 0px;
  }
}

@media only screen and (min-width: 1440px) {
  .userInfo {
    padding: 18px 24px;
    padding-left: 0px;
  }
}
