@media (min-width: 375px) {
  .container {
    width: 225px;
    height: 100vh;
    background-color: #121212;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    z-index: 9999999;
  }
  /* .isClosed {
    display: none;
  } */
  .title {
    font-size: 12px;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    margin-left: 14px;
  }
  .wrapper {
    margin-left: 14px;
    margin-right: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
    font-weight: medium;
    gap: 60px;
    margin-bottom: 40px;
  }
  .addBtn {
    width: 40px;
    height: 36px;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: block;
    background-color: #bedbb0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .addBtn:hover {
    background-color: #9dc888;
  }
  .helpWrapper {
    background-color: #1f1f1f;
    width: 197px;
    height: 238px;
    padding: 20px;
    border-radius: 8px;
    margin-top: 40px;
    font-size: 12px;
    font-weight: 400;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }
  .img {
    width: 54px;
    height: 78px;
    margin-bottom: 14px;
  }
  .span {
    color: #bedbb0;
  }
  .helpBtn {
    background-color: inherit;
    margin-top: 18px;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    gap: 4px;
    align-items: center;
    justify-content: center;
  }
  .logoutBtn {
    width: 105px;
    font-size: 14px;
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: inherit;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-top: 24px;
    font-weight: 500;
    margin-left: 24px;
    margin-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .text {
    display: block;
    width: 76px;
    font-weight: 900;
  }
  .btnIcon {
    stroke: #121212;
  }

  .logoutIcon {
    stroke: #ffffff;
  }
  .helpIcon {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .helpBtn:hover .helpIcon {
    --color1: #9dc888;
  }
  .logoutBtn:hover .logoutIcon {
    --color2: #9dc888;
  }
}

@media (min-width: 768px) {
  .container {
    width: 260px;
    height: 100vh;
  }
  /* .isClosed {
    display: none;
  } */
  .title {
    margin-left: 24px;
  }
  .wrapper {
    margin-left: 24px;
    margin-right: 24px;
  }
  .helpWrapper {
    margin-left: 24px;
    margin-right: 24px;
    width: 212px;
    height: 272px;
    font-size: 14px;
  }
  .logoutBtn {
    font-size: 16px;
  }
  .logoutBtn {
    margin-bottom: 28px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 260px;
    height: 100vh;
    background-color: #121212;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
  }

  .isClosed {
    display: flex;
  }
}
