.registerContainer {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#fff, #bedbb0);

  display: flex;
  justify-content: center;
  align-items: center;
}

.registerWrapper {
  margin-top: 224px;
  margin-bottom: 225px;
  width: calc(100% - 40px); /* Гумова ширина, враховуючи відступи */
  max-width: 335px;
  height: 363px;
}

.formWrapper {
  background: #151515;
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.registerList {
  display: flex;
  margin-bottom: 40px;
}

.registerItem + .registerItem {
  margin-left: 14px;
}

.registerLink {
  color: rgba(255, 255, 255, 0.3);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.36px;
  text-decoration: none;
}

.linkActive {
  color: #fff;
}

.registerInput {
  color: #fff;
  font-family: Poppins;
  display: flex;
  flex-direction: column;

  padding: 14px 157px 14px 18px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #bedbb0;
  opacity: 0.4;
  background: #1f1f1f;
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
  font-size: 14px;
  letter-spacing: -0.28px;
}

.registerInput + .registerInput {
  margin-top: 14px;
}

.registerButton {
  color: #161616;
  background: #bedbb0;
  margin-top: 24px;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  padding: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

@media (min-width: 375px) {
  .loginWrapper {
    width: 335px;
  }

  .loginButton {
    width: 287px;
  }
}

@media (min-width: 768px) {
  .loginWrapper {
    margin-top: 314px;
    margin-bottom: 315px;
    width: 424px;
    height: 395px;
  }

  .formWrapper {
    padding: 40px;
    width: 344px;
  }

  .loginButton {
    width: 344px;
  }
}
