.registerContainer {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#fff, #bedbb0);

  display: flex;
  justify-content: center;
}

.registerWrapper {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 224px;
  margin-bottom: 225px;
  width: 335px;
  height: 363px;
}

.formWrapper {
  padding: 24px;
  display: flex;
  background: #151515;
  border-radius: 8px;
  flex-direction: column;
}

.registerList {
  display: flex;
  margin-bottom: 40px;
}

.registerItem + .registerItem {
  margin-left: 14px;
}

.registerLink {
  color: rgba(255, 255, 255, 0.3);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
  text-decoration: none;
}

.linkActive {
  color: #fff;
}

.registerInput {
  display: flex;
  flex-direction: column;

  padding: 14px 157px 14px 18px;
  align-items: center;

  border-radius: 8px;
  border: 1px solid #bedbb0;
  opacity: 0.4;
  background: #1f1f1f;
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);

  color: #fff;

  font-family: Poppins;
  font-size: 14px;

  letter-spacing: -0.28px;
}

.registerInput + .registerInput {
  margin-top: 14px;
}

.registerButton {
  /* display: flex; */
  width: 287px;
  padding: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #bedbb0;

  margin-top: 24px;
}
