.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-background-color);
  border-radius: 8px;
  outline: none;
  width: 335px;
  height: 220px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  width: 260px;
  height: 49px;
  margin-left: 22px;
  margin-right: 20px;
  margin-bottom: 24px;
  outline: none;
  color: var(--main-text-color);
  border: 1px solid var(--accent-color);
  background-color: var(--active-background-color);
  border-radius: 8px;
  padding-left: 20px;
}

.input::placeholder {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
}

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  color: var(--main-background-color);
  padding: 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 287px;
  height: 49px;
  margin-left: 22px;
  margin-right: 20px;
}

.addButton:hover {
  background-color: var(--accent-color-hover);
}

.iconContainer {
  width: 28px;
  height: 28px;
  background-color: var(--edit-plus);
  border-radius: 5px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  stroke: var(--plus-icon);
}

.title {
  color: var(--main-text-color);
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  margin-left: 22px;
  margin-top: 20px;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
