.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  overflow-x: hidden;
}
.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .headerWrapper {
    margin-bottom: 26px;
  }
}

@media (min-width: 1440px) {
  .headerWrapper {
    margin-bottom: 10px;
  }
}
